body {
    background-color: #F5F5F5;
    font-family: Arial, sans-serif;
}

.container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px #888888;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 16px;
}

.myBtn {
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px;
    background-color: #009688;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.myBtn:hover {
    background-color: #008080;
}
